body{
    background-color: blueviolet;
    overflow: hidden;
}
.calculadora{
width: 100vw;
max-width: 25rem;
height: 646px;
flex-shrink: 0;
border-radius: 45px;
border: 1px solid rgba(0, 0, 0, 0.25);
background: #313036;
box-shadow: 7px 16px 42px 4px rgba(0, 0, 0, 0.75);
}
.display-container{
display: flex;
padding: 189px 0px;
justify-content: center;
align-items: center;
}